.idea/workspace.xml
/shelf/
/httpRequests/
/queries/
/dataSources/
dataSources.local.xml

# IntelliJ IDEA (configuracion)
.idea/
**/.idea/
*.iml
*.iws
*.ipr
out/
**/target/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Ignorar DAOs porque son solo prueba
**/controlador/MesaDAO.java
**/controlador/MozoDAO.java
**/controlador/PlatoDAO.java