workspace.xml
/shelf/
/httpRequests/
/queries/
/dataSources/
dataSources.local.xml

# IntelliJ IDEA (configuracion)
.idea/
*.iml
*.iws
*.ipr
out/
target/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini
